.table > tbody > tr > td:first-child, .table > thead > tr > th:first-child {
  padding-left: 2em;
}
.table > tbody > tr > td:last-child, .table > thead > tr > th:last-child {
  padding-right: 2em;
}
.navbar.navbar {
  border-radius: 0;
}
.blah img {
  padding: 5px;
  margin-top: -10px;
}
body{background-color:#4d4d4d;color:#eee}.table > tbody > tr.module-desc > td{border-top:0}
a{color:#8bf}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td , .table > thead > tr > th {
  border-top: 1px solid #777;
  border-bottom:0;
}
